## 파일에서 읽기

### - 한 줄씩 읽기

In [22]:
fp = open("data/text.txt", encoding = 'utf-8')
line = fp.readline()
print(line.strip())

line = fp.readline()
print(line.strip())

line = fp.readline()
print(line.strip())

line = fp.readline()
print(line.strip())

f.close()

2
3.14
Hello World!
일산병원

### - 여러 줄을 한 번에 읽기

In [21]:
fp = open('data/text.txt', 'r')
lines = fp.readlines()
print(lines)

fp.close()

['2\n', '3.14\n', 'Hello World!\n', '일산병원\n']

### - 파일 내용 모두 읽기

In [29]:
fp = open('data/text.txt', 'r')
contents = fp.read()
print(contents)

fp.close()

1
3.14
Hello World!
서울과학종합대학원 빅데이터MBA
2
3.14159
Hello World!
일산병원

## 파일에 쓰기

### - 파일에 쓰기

In [18]:
fp = open('data/hello.txt', 'w')
fp.write('Hello World!')
fp.close()

### - 파일에 내용 추가하기

In [28]:
fp = open('data/text.txt', 'a')
fp.write('{}\n'.format(2))
fp.write('{:.5f}\n'.format(3.14159))
fp.write('Hello World!\n')
fp.write('일산병원\n')
fp.close()

In [27]:
fp = open('data/text.txt', 'w')
fp.write('{}\n'.format(1))
fp.write('{:.2f}\n'.format(3.1415))
fp.write('Hello World!\n')
fp.write('서울과학종합대학원 빅데이터MBA\n')
fp.close()

In [31]:
import os
import pandas as pd
datafilename = "data/oasis_longitudinal.csv"

existfile = os.path.isfile(datafilename)
if existfile :
    df = pd.read_csv(datafilename, header=0, encoding='utf-8')
else :
    print("파일 '{}'가 존재하지 않습니다. 확인 후 진행해주세요".format(datafilename))
    
# print the concise summery of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
Subject ID    373 non-null object
MRI ID        373 non-null object
Group         373 non-null object
Visit         373 non-null int64
MR Delay      373 non-null int64
M/F           373 non-null object
Hand          373 non-null object
Age           373 non-null int64
EDUC          373 non-null int64
SES           354 non-null float64
MMSE          371 non-null float64
CDR           373 non-null float64
eTIV          373 non-null int64
nWBV          373 non-null float64
ASF           373 non-null float64
dtypes: float64(5), int64(5), object(5)
memory usage: 43.8+ KB

## csv, excel 파일에서 읽기

### - cvs 파일 읽기

In [39]:
import pandas as pd

datafilename = "data/oasis_longitudinal.csv"

try:
    df = pd.read_csv(datafilename, header=0, encoding='utf-8')
    df.info()
except FileNotFoundError :
    print("파일이 존재하지 않습니다. 다시 확인 후 진행해 주세요.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
Subject ID    373 non-null object
MRI ID        373 non-null object
Group         373 non-null object
Visit         373 non-null int64
MR Delay      373 non-null int64
M/F           373 non-null object
Hand          373 non-null object
Age           373 non-null int64
EDUC          373 non-null int64
SES           354 non-null float64
MMSE          371 non-null float64
CDR           373 non-null float64
eTIV          373 non-null int64
nWBV          373 non-null float64
ASF           373 non-null float64
dtypes: float64(5), int64(5), object(5)
memory usage: 43.8+ KB

### - 엑셀 파일 읽기

In [47]:
import pandas as pd

infilename = 'data/estate_201801.xlsx'
sheetname='아파트 매매 실거래가'
df = pd.read_excel(infilename, sheet_name=sheetname, skiprows=16, header=0, converters={'본번':str,'부번':str}, encoding='utf-8')
df.columns = ['Region','Sub1','Sub2','Sub3','ApartmentName','ExclusiveArea', 'ContractYM','ContractDay','SalePrice','Floor','YearBuilt','Street']

df.shape
print(df.head())

# SalePrice가 ','가 포함된 object type으로 되어 있는데 ','를 제거후 numeric type으로 변경
df['SalePrice'] = df['SalePrice'].replace(',', '', regex=True)
df['SalePrice'] = pd.to_numeric(df['SalePrice'])

          Region   Sub1  Sub2  Sub3   ApartmentName  ExclusiveArea  \
0  서울특별시 강남구 개포동  658-1  0658  0001  개포6차우성아파트1동~8동          79.97
1  서울특별시 강남구 개포동  658-1  0658  0001  개포6차우성아파트1동~8동          79.97
2  서울특별시 강남구 개포동  658-1  0658  0001  개포6차우성아파트1동~8동          79.97
3  서울특별시 강남구 개포동    652  0652  0000          개포우성3차         161.00
4  서울특별시 강남구 개포동   12-2  0012  0002      개포자이(12-2)         170.32

   ContractYM ContractDay       SalePrice  Floor  YearBuilt   Street
0      201801        1~10         130,000      4       1987      언주로
1      201801        1~10         117,000      2       1987      언주로
2      201801       11~20         130,000      1       1987      언주로
3      201801        1~10         210,000     12       1984      개포로
4      201801        1~10         162,000     16       2004  개포로109길