In [2]:
import pandas as pd

In [3]:
#!pip install xlrd

## 850회까지 진행 한 로또복권 당첨 번호 파일 읽어오기

In [4]:
df = pd.read_excel('data/lotto.xls', header=1, encoding='utf-8')
df.head()

,회차,추첨일,1등 당첨자수,1등 당첨금액,2등 당첨자수,2등 당첨금액,3등 당첨자수,3등 당첨금액,4등 당첨자수,4등 당첨금액,5등 당첨자수,5등 당첨금액,1,2,3,4,5,6,7
0,850,2019-03-16,6,3377587875,55,61410689,2023,1669594,101591,50000,1727367,5000,16,20,24,28,36,39,5
1,849,2019-03-09,17,1158252883,56,58602081,2682,1223608,113125,50000,1851371,5000,5,13,17,29,34,39,3
2,848,2019-03-02,7,3011580858,42,83655024,2109,1665961,103845,50000,1792259,5000,1,2,16,22,38,39,34
3,847,2019-02-23,8,2520846657,40,84028222,2443,1375821,114324,50000,1857205,5000,12,16,26,28,30,42,22
4,846,2019-02-16,13,1596884395,69,50143713,1997,1732557,106009,50000,1797728,5000,5,18,30,41,43,45,13

In [5]:
df.dtypes
df.shape

(850, 19)

### 1에서 45까지 숫자를 생성하여 리스트에 넣는다

In [6]:
lotto_list = list(range(1, 46))
#lotto_list

###### 중복되지 않게 6개 숫자를 랜덤하게 추출한다.

In [7]:
import random

selected_list = []
while len(selected_list) <  6:
    choice_num = random.choice(lotto_list)
    print("choice num :  {}".format(choice_num))
    lotto_list.remove(choice_num)
    selected_list.extend([choice_num])
 
print("selected list {}".format(selected_list))

choice num :  23
choice num :  12
choice num :  13
choice num :  8
choice num :  42
choice num :  43
selected list [23, 12, 13, 8, 42, 43]

### 정렬

In [9]:
selected_list.sort()
selected_list

[8, 12, 13, 23, 42, 43]

### 위의 처리를 심플하게

In [16]:
selected_list = sorted(random.sample(range(1,50), 6))
selected_list

[3, 10, 15, 32, 33, 36]

### df에서 당첨번호를 꺼내서 리스트로 만든다

In [17]:
# 모델링을 위한 변수 선택
feature_col_names = [1, 2, 3, 4, 5, 6]

df1 = [df[feature_col_names].values]
print(df1)
#df1.dtypes
#df1.columns.values.tolist()

[array([[16, 20, 24, 28, 36, 39],
       [ 5, 13, 17, 29, 34, 39],
       [ 1,  2, 16, 22, 38, 39],
       ...,
       [11, 16, 19, 21, 27, 31],
       [ 9, 13, 21, 25, 32, 42],
       [10, 23, 29, 33, 37, 40]])]

In [19]:
row_no = 1
for row in df1:
    for elem in row:
        lotto_no = list(elem)
 #       print("low no : {}, number  : {}\n".format(row_no, lotto_no))
        row_no += 1
        counter = 0
        matched_list = []
        for x in range(0, 6) :
            for y in range(0, 6):
                if lotto_no[x] == selected_list[y]:
 #                   print("You have a match! it was " + str(selected_list[y]))
                    matched_list.extend([selected_list[y]])
                    y += 1
                    counter += 1
        if (counter > 2):
            print("You have matrched : {}회차 번호 : {}, 나의 번호:{}".format(row_no, lotto_no, matched_list))
,

You have matrched : 48회차 번호 : [1, 10, 13, 26, 32, 36], 나의 번호:[10, 32, 36]
You have matrched : 54회차 번호 : [2, 10, 14, 22, 32, 36], 나의 번호:[10, 32, 36]
You have matrched : 104회차 번호 : [3, 10, 13, 22, 31, 32], 나의 번호:[3, 10, 32]
You have matrched : 106회차 번호 : [3, 12, 33, 36, 42, 45], 나의 번호:[3, 33, 36]
You have matrched : 151회차 번호 : [3, 10, 14, 16, 36, 38], 나의 번호:[3, 10, 36]
You have matrched : 160회차 번호 : [3, 11, 14, 15, 32, 36], 나의 번호:[3, 15, 32, 36]
You have matrched : 188회차 번호 : [10, 20, 33, 36, 41, 44], 나의 번호:[10, 33, 36]
You have matrched : 209회차 번호 : [15, 24, 31, 32, 33, 40], 나의 번호:[15, 32, 33]
You have matrched : 285회차 번호 : [1, 10, 15, 16, 32, 41], 나의 번호:[10, 15, 32]
You have matrched : 312회차 번호 : [3, 12, 13, 15, 34, 36], 나의 번호:[3, 15, 36]
You have matrched : 331회차 번호 : [3, 7, 18, 29, 32, 36], 나의 번호:[3, 32, 36]
You have matrched : 394회차 번호 : [4, 9, 10, 32, 36, 40], 나의 번호:[10, 32, 36]
You have matrched : 529회차 번호 : [10, 14, 15, 32, 36, 42], 나의 번호:[10, 15, 32, 36]
You have matrched : 535회차 번호 : [3, 10, 11, 22, 36, 39], 나의 번호:[3, 10, 36]
You have matrched : 584회차 번호 : [3, 10, 19, 24, 32, 45], 나의 번호:[3, 10, 32]
You have matrched : 725회차 번호 : [3, 5, 10, 29, 32, 43], 나의 번호:[3, 10, 32]
You have matrched : 727회차 번호 : [2, 8, 32, 33, 35, 36], 나의 번호:[32, 33, 36]
You have matrched : 760회차 번호 : [3, 14, 24, 33, 35, 36], 나의 번호:[3, 33, 36]
You have matrched : 785회차 번호 : [3, 7, 10, 15, 36, 38], 나의 번호:[3, 10, 15, 36]

''