# 자료형
<center>타 입|<center>설 명|<center>표현 예
:---|:---|:---
list|리스트, 순서가 있는 배열, 수정/추가/삭제가 가능한 자료 구조|[1, 2, 3, 'a', 'b']
tuple|튜플, 순서가 있는 배열, 수정/추가/삭제가 불가능한 자료 구조|(1, 2, 3, 'a', 'b')
dict|사전, {key: value}로 구성되어있는 자료 구조|{'product': 'apple' , 'category': 'fruit', 'price': 1000}
set|집합, {key}로 구성되어있는 자료 구조|{'a', 'b', 'c'}

## list

### - 리스트 생성

In [1]:
my_list=[1,2,3,4,5,6,7,8,9]
type(my_list)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
my_list = list(range(10))
type(my_list)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_list = list(range(1, 10))
type(my_list)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### -  리스트 확장

In [4]:
my_list2 = []
type(my_list2)
print(my_list2)
my_list2.extend([1, 2, 3])
print(my_list2)

[]
[1, 2, 3]

### -  리스트 요소 추가

In [5]:
my_list2.append(['a', 'b', 'c'])
print(my_list2)

[1, 2, 3, ['a', 'b', 'c']]

### - 리스트 요소 삽입 및 삭제

In [6]:
# 리스트 요소 삽입
my_list.insert(0,0)
print(my_list)

#리스트 요소 제거
my_list.remove(9)
print(my_list)

# 리스트의 맨 마지막 요소를 리턴하고 삭제
print( my_list.pop() )
print(my_list)

# 리스트의 요소 갯수 세기
print(my_list.count(10))

# 리스트에 추가
my_list.extend([8, 9, 10, 11])
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
8
[0, 1, 2, 3, 4, 5, 6, 7]
0
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### - 리스트 정렬

In [7]:
my_list.sort(reverse = True)
print(my_list)
my_list.sort()
print(my_list)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

###  - 리스트의 인덱싱과 슬라이싱

In [8]:
# 인덱싱
print(my_list[9])
# value 10이 있는 인덱스 리턴
print(my_list.index(10))

# 중첩된 리스트 인덱싱
print(my_list2[3])
print(my_list2[3][0])
print(my_list2[-1][0])

9
10
['a', 'b', 'c']
a
a

In [9]:
# 슬라이싱
a = my_list[0:2]
b = my_list[:2]
c = my_list[2:]
d = my_list[5:-1]
print("a = {}, b = {}, c = {}, d = {}".format(a, b, c, d))

# 중첩된 리스트 스라이싱
print(my_list2[2:4])

print(my_list2[3])
print(my_list2[3][:2])

# 중첩된 리스트 스리이상2
print(my_list2[3:4])
print(my_list2[3:4][0][:2])

a = [0, 1], b = [0, 1], c = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11], d = [5, 6, 7, 8, 9, 10]
[3, ['a', 'b', 'c']]
['a', 'b', 'c']
['a', 'b']
[['a', 'b', 'c']]
['a', 'b']

### - 리스트 연산

#### -  리스트 더하기

In [10]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
print(list_a + list_b)

[1, 2, 3, 4, 5, 6]

#### - 리스트 반복하기

In [11]:
print( list_a * 2)

[1, 2, 3, 1, 2, 3]

#### - 리스트 길이구하기

In [12]:
len(list_a)

3

#### -  리스트 연산 오류

In [13]:
print( "hi " * list_a[2])

hi hi hi

In [14]:
print(list_a[2] + "hi")  # TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# string으로 변환 후 concatenation
print(str(list_a[2]) + "hi")

3hi

### - Step
- list_name[ start : end : step ]
- step이 양수일 때 : 오른쪽으로 step만큼 이동하면서 
가져옵니다.
- step이 음수일 때 : 왼쪽으로 step만큼 이동하면서 가져옵니다

In [16]:
# 전체를 거꾸로 가져옴 
e = my_list[::-1]
print(e)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [17]:
# 앞에서 2칸씩 이동하면서 가져옴
f = my_list[::2]
print(f)

[0, 2, 4, 6, 8, 10]

In [18]:
# 뒤에서 2칸씩 이동하면서 가져옴
g = my_list[-1::-2]
print(g)

[11, 9, 7, 5, 3, 1]

### - 다양한 함수를 이용한 짝수, 홀수 요소 추출

In [33]:
my_list = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### - list comprehesion(내포)을 이용한 짝수, 홀수 요소 추출

In [61]:
even_list= [i for i in my_list if i % 2 == 0]
odd_list = [i for i in my_list if i % 2 == 1]
print("even_list = {}".format(even_list))
print("odd list = {}".format(odd_list))

even_list = [12, 14, 16, 18, 20]
odd list = [11, 13, 15, 17, 19]

#### - filter 함수를 이용하여 짝수 홀수 요소 추출

In [62]:
even_list = list(filter(lambda i: i%2 == 0,my_list))
odd_list = list(filter(lambda i: i%2 == 1,my_list))
print("even_list = {}".format(even_list))
print("odd list = {}".format(odd_list))

even_list = [12, 14, 16, 18, 20]
odd list = [11, 13, 15, 17, 19]

#### - map  함수
- 입력받은 자료형의 각 요소가 합수에 의해 수행된 결과를 묶어서 map iterator 객체로 리턴
- map(f, iterable)

In [63]:
list_my2 = [1, 2, 3]
result = list(map(lambda i: i ** 2 , list_my2))
print(result)

[1, 4, 9]

#### - 3항 연산자

In [ ]:
# if else문
def func(a):
    if a > 10:
        return 'a가 10보다 크다'
    else:
        return 'a가 10이하 이다'

# 3항 연산자
def func2(a):
    return 'a가 10보다 크다' if a > 10 else 'a가 10이하 이다'

func2(10)

#### - reduce 함수
- 순서형 자료(문자열, 리스트, 튜플)의 원소들을 누적적으로 함수에 적용
- filter(함수, literable)

In [ ]:
from functools import reduce
reduce(lambda x,y: x+y, my_list)

## tuple
- 여러 개의 자료를 하나의 변수로 관리할 때 사용 
- 리스트와 유사한데 수정이 안됨

### - 튜플 생성

In [99]:
my_tuple=(1,2,3)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3)

In [100]:
my_tuple1 = tuple([1, 2, 3])
print(type(my_tuple1))
print(my_tuple1)

<class 'tuple'>
(1, 2, 3)

In [101]:
my_tuple2 = tuple({3, 2, 1})
print(type(my_tuple2))
print(my_tuple2)

<class 'tuple'>
(1, 2, 3)

### - 수정이 안됨

In [102]:
my_tuple[0] = 'one'
my_tuple

TypeError: 'tuple' object does not support item assignment

In [103]:
Month = (1,'Jan')
print(type(Month))
print(Month)

<class 'tuple'>
(1, 'Jan')

In [104]:
Month = ((1, 'Jan'), (2,'Fab'))
print(type(Month))
print(Month)

print(Month[0])

<class 'tuple'>
((1, 'Jan'), (2, 'Fab'))
(1, 'Jan')

### - 튜플의 인덱싱과 슬라이싱

In [105]:
t1 = my_tuple[1]
print(t1)
t2 = my_tuple[1:]
print(t2)

2
(2, 3)

### - 튜플 시퀀스를 dictionary로 변경

In [110]:
Month_tuple = (1,'Jan')
print(type(Month_tuple))
Month_list = [(1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr'), (5, 'May'), (6, 'Jun')]
print(type(Month_list))
print("list  : ", Month_list)
Month_dict = dict(Month_list)
print(type(Month_dict))
print("dictionary : ", Month_dict)

<class 'tuple'>
<class 'list'>
list  :  [(1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr'), (5, 'May'), (6, 'Jun')]
(1, 'Jan')
<class 'dict'>
dictionary :  {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun'}

## namedtuple

In [111]:
from collections import namedtuple

In [112]:
Station = namedtuple("Station","id, city, state, lat, long")
denver = Station(44, "Denver", "CO", 40, 105)

In [113]:
print(denver)
print(type(denver))

Station(id=44, city='Denver', state='CO', lat=40, long=105)
<class '__main__.Station'>

In [114]:
denver.city

'Denver'

In [115]:
denver[2]

'CO'

## dictionary
-키와 값의 쌍으로 구성된 데이터

### - Dictionary 생성

In [116]:
#The empty Python dictionary object
{}

{}

In [117]:
# Define a blank dictionary with no elements
blank_dict = {}

# Define a dictionary with numeric keys
num_dict = {1: 'soccer', 2: 'baseball'}
print(num_dict)

# Define a dictionary with keys having different types
misc_dict = {'class': 'senior secondary', 1: [1, 2, 3, 4, 5]}
print(misc_dict)

# Create a dictionary with dict() method
get_dict_from_func = dict({1:'Jan', 2:'Feb'})
print(get_dict_from_func)

# Create a dictionary from a sequence of tuples
make_dict_from_seq = dict([(1,'Jan'), (2,'Feb'), (3, 'Mar')])
print(make_dict_from_seq)

{1: 'soccer', 2: 'baseball'}
{'class': 'senior secondary', 1: [1, 2, 3, 4, 5]}
{1: 'Jan', 2: 'Feb'}
{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [119]:
# create a dictonary
myprofile_dic = {'nickname':'moodlee', 'phone':'010XXXXXX', 'birth': 'XXXX', 'hobby': 'gardening'}

### - Dictionary Accessing

In [120]:
# get value of key 'nickname'
myprofile_dic['nickname']

'moodlee'

In [121]:
# get value of key 'nickname'
myprofile_dic.get('nickname')

'moodlee'

In [122]:
# get keys
keys = myprofile_dic.keys()
print(keys)
print(type(keys))

dict_keys(['nickname', 'phone', 'birth', 'hobby'])
<class 'dict_keys'>

In [123]:
list(myprofile_dic.keys())

['nickname', 'phone', 'birth', 'hobby']

In [124]:
# get values
myprofile_dic.values()

dict_values(['moodlee', '010XXXXXX', 'XXXX', 'gardening'])

In [125]:
# a sequence of tuples
myprofile_dic.items()

dict_items([('nickname', 'moodlee'), ('phone', '010XXXXXX'), ('birth', 'XXXX'), ('hobby', 'gardening')])

In [126]:
'nickname' in myprofile_dic

True

In [127]:
'test' in myprofile_dic

False

### - Dictionary Example

In [128]:
# allow the user to input the date
date=input("Please enter the date in the format of dd/mm/year: ")

# split the strings
date=date.split('/')

if len(date) == 3:
    # day
    day=date[0]
    # month
    month_idx = int(date[1])  
    #y ear
    year=date[2]

    # create a dictionary for the months
    monthDict={1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}

    #if month_idx in monthDict.keys():
    #    for key, value in monthDict.items():
    #        month = value
    
    if month_idx in monthDict.keys():
        month = monthDict[month_idx]

        #print the result in the required format
        print(day, month, "," , year)
    else:
        print("입력오류 : {} ".format(date))

else:
    print("입력오류 : {} ".format(date))

Please enter the date in the format of dd/mm/year:
입력오류 : ['']

## set
- 집합 자료형은 수학의 집합과 같은 성질을 가집니다. 즉, 집합은 중복된 데이터를 가질 수 없고, 순서가 없습니다. 
- 따라서 순서와 관련된 인덱스기호([ ])를 사용할 수 없고, 중복 데이터를 만드는 +, *를 사용할 수 없습니다

### - set 생성

In [129]:
number_set = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
print(number_set)
print(type(number_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [130]:
number_set1 = set([1,3, 5, 7, 9, 2, 4, 6, 8])
print(number_set1)
print(type(number_set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [70]:
number_set2 = set(range(1,10))
print(type(number_set4))
print(number_set4)

<class 'set'>
{1, 2, 3}

In [71]:
number_set3 = {1,2,3}
print(type(number_set2))

<class 'set'>

In [72]:
number_set4 = set((1,2,3))
print(type(number_set3))

<class 'set'>

In [73]:
len(number_set)

9

### - set elements accessing

In [75]:
## Error : 집합은 순서가 없어서 인덱스 기호를 사용할 수 없다
number_set(0)

TypeError: 'set' object is not callable

In [76]:
elem = number_set.pop()
print(elem)
print(number_set)
number_set.add(elem)
print(number_set)

1
{2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
# - 리스트로 캐스팅하면 인덱스 기호를 사용하여 값을 엑세스할 수 있다 
list(number_set)[0]

1

### - 집합체 추가, 업데이트, 삭제

In [31]:
number_set.add(10)

In [33]:
number_set.update([11, 12])

In [35]:
number_set.remove(12)

In [36]:
number_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### - string을 데이터를 집합으로 생성하면 중복된 값을 제거하고 유니크한 캐릭터 집합이 만들어짐
- 단, 대소문자 구별

In [37]:
string_set = set('Hello, welcome to out python class')

In [38]:
string_set

{' ',
 ',',
 'H',
 'a',
 'c',
 'e',
 'h',
 'l',
 'm',
 'n',
 'o',
 'p',
 's',
 't',
 'u',
 'w',
 'y'}

### - 집합에 값이 있는지 없는지 체크

In [84]:
print( 1 in number_set)
print( 1 not in number_set)
print( 12 in number_set)
print( 12 not in number_set)

# 다른 형식으로 체크
print(number_set & {1} == {1})
print(number_set & {1} != {1})
print(number_set & {12} == {12})
print(number_set & {12} != {12})

True
False
False
True
True
False
False
True

### - set 연산

In [39]:
# 집합 선언
set1 = set([1,2,3])
set2 = set([2,4,5,6])
set3 = set() # 공집합
 
# set1과 set2의 교집합
print( set1 & set2 )
print(set1.intersection(set2) )
 
# set1과 set2의 합집합
print( set1 | set2 )
print( set1.union(set2) )
 
# set1과 set2의 차집합
print( set1 - set2 )
print( set1.difference(set2) )
print( set2.difference(set1) )
 
# set1과 set2의 합집합에서 교집합을 뺀 차집합
print( set1 ^ set2 )

{2}
{2}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 3}
{1, 3}
{4, 5, 6}
{1, 3, 4, 5, 6}